@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* -- CORES PARA O TEMA CLARO (HEXADECIMAL) -- */
    --background: #FFFFFF;
    --foreground: #26292E;
    --card: #FAFAFA;
    --card-foreground: #26292E;
    --popover: #FFFFFF;
    --popover-foreground: #26292E;
    --primary: #1F63C4;
    --primary-foreground: #FFFFFF;
    --secondary: #E6E9EB;
    --secondary-foreground: #33373D;
    --muted: #F2F4F5;
    --muted-foreground: #7F8287;
    --accent: #E6E9EB;
    --accent-foreground: #26292E;
    --destructive: #E63D33;
    --destructive-foreground: #FFFFFF;
    --border: #D9DBDE;
    --input: #D9DBDE;
    --ring: #1F63C4;

    /* Outras variáveis (Mantenha as suas se ainda usar) */
    --chart-1: #E26B49;
    --chart-2: #2A9E82;
    --chart-3: #27556D;
    --chart-4: #F4D066;
    --chart-5: #F7AA61;
    --radius: 0.5rem;

    --sidebar-background: #FAFAFA;
    --sidebar-foreground: #3F4045;
    --sidebar-primary: #18191C;
    --sidebar-primary-foreground: #FAFAFA;
    --sidebar-accent: #F0F1F2;
    --sidebar-accent-foreground: #18191C;
    --sidebar-border: #E6E9EB;
    --sidebar-ring: #2484E4;
  }

  .dark {
    /* -- CORES PARA O TEMA ESCURO (HEXADECIMAL) -- */
    --background: #0A0A0A;
    --foreground: #FAFAFA;
    --card: #0A0A0A;
    --card-foreground: #FAFAFA;
    --popover: #0A0A0A;
    --popover-foreground: #FAFAFA;
    --primary: #FAFAFA;
    --primary-foreground: #17171A;
    --secondary: #262629;
    --secondary-foreground: #FAFAFA;
    --muted: #262629;
    --muted-foreground: #A3A3A6;
    --accent: #262629;
    --accent-foreground: #FAFAFA;
    --destructive: #882A2A;
    --destructive-foreground: #FAFAFA;
    --border: #262629;
    --input: #262629;
    --ring: #D4D4D7;

    --chart-1: #2660B3;
    --chart-2: #1C9B76;
    --chart-3: #D88A3B;
    --chart-4: #A24DC8;
    --chart-5: #CD406D;

    --sidebar-background: #18191C;
    --sidebar-foreground: #F0F1F2;
    --sidebar-primary: #1C5DCD;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #27282C;
    --sidebar-accent-foreground: #F0F1F2;
    --sidebar-border: #27282C;
    --sidebar-ring: #2484E4;
  }

  /* Aplicação das variáveis CSS no body */
  body {
    color: var(--foreground); /* Use var() diretamente */
    background-color: var(--background); /* Use var() diretamente */
  }

  h2, h3 {
    color: var(--text-color);
  }

  .card {
    background-color: var(--card);
    color: var(--car-foreground); /* Use var() diretamente */
  }

  .muted {
    color: var(--muted-foreground)
  }

  .techCard {
    background-color: var(--muted);
    color: var(--muted-foreground)
  }
}