@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&display=swap');

:root {
	/* COLORS */
	--bg-color: #1E1E1E;
	--font-color: #BFC8C7;

	/* FONTS */
	--font-name: "M PLUS Code Latin";
	--font-code: "Libre Barcode 39 Text";
}


* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#body {
	background-color: var(--bg-color);
	width: 100vw;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

#contact{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3rem;
}

svg {
	padding: 0.2rem;
	width: 1rem;
	height: 1rem;
}

#coded {
	font-family: var(--font-code);
	color: var(--font-color);
	font-size: 70px;
}

.normalText {
	font-family: var(--font-name); 
	color: var(--font-color);
	font-weight: 200;
	font-size: 70px;
}

#apresentation {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20rem;
}

#coded {
	font-family: var(--font-code);
	color: var(--font-color)
}

svg {
	padding: 0.2rem;
	width: 1rem;
}

#bg_skills {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#box_text_skills{
	width: 40%;
	height: 15rem;
	color: var(--font-color);
	background-color: #262626;
	border: 1px solid #9791FF;
	padding: 1rem;
}

.tittle_skill{
	font-family: 'B612 Mono', arial;
	font-size: 12px;
}

.tittle_skill > h2 {
	font-family: 'Big Shoulders Inline Display';
	font-size: 12px;
	color: #EC5694;
}

.body_skill{
	display: inline;
	text-align: justify;
}

.body_skill > :first-child {
	font-family: 'Big Shoulders Inline Display';
	font-size: 16px;
	color: #EC5694;
}

.body_skill > :last-child {
	font-family: 'Big Shoulders Inline Display';
	font-size: 16px;
	color: #EC5694;
}

#button_code_zone{
	display: flex;
	flex-direction: column;
	height: 15rem;
	width: 30%;
}

#buttons_skills {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#buttons_skills * {
	border: 1px solid #9791FF;
	width: 4rem;
	height: 4rem;
	align-items: center;
}

#code_skills {
	font-family: 'B612 Mono', sans-serif;
	white-space: pre-wrap;
	color: var(--font-color);
	font-size: 20px;
}
